header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: honeydew;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tagline {
    font-size: larger;
    font-family: cursive;
    margin: 2px;
}
.nav-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.git-section table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.git-section td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
.git-section tr:nth-child(even) { background-color: #f2f2f2;}
.git-section tr:hover {background-color: #ddd;}
.git-section th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}